<header>
    <div class="logo"></div>
    <nav>
        <ul>
            <li><a href="home">home</a></li>
            <li><a href="introduction">introduction</a></li>
            <li><a href="aboutus">about us</a></li>
        </ul>
    </nav>
    <div class="menu">
        <div class="first-line"></div>
        <div class="second-line"></div>
        <div class="third-line"></div>
    </div>
</header>