<html>
    <head>
        <title>About us</title>
        <link rel="stylesheet" href="assets/home.css">
    </head>
    <body>
        <%- include("partials/header") %>
        <div class="" style="width: 80%; margin-top: 20%; margin-left: 10%;">Cause there is no other people, so us 
            actually mean me, yeah only me, so somthing about
            me right, I want to be a full stack engineer so far, 
            so I will practice more either front end side or back 
            end side. I want to be hire when I study in grade one.
        </div>
        <%- include("partials/footer.ejs") %> 
        <script src="assets/javascript.js"></script>
    </body>
</html>