<html>
    <head>
        <link rel="stylesheet" href="assets/home.css">
    </head>
    <body>
        <div class="intro-container" style="display: flex; 
         flex-direction: column; text-align: center; ">
            <%- include("partials/header") %>
            <div style="width: 80%; margin-top: 20%; margin-left: 10%;">the website is created by Ronny Lin,
                yes, right, it is me! The reason I wanted to create
                this website is that I want to show all the products,
                I mean any small project here, so that I can easily see
                my improvement in web area.
            </div>
        </div>
        <%- include("partials/footer.ejs") %> 
        <script src="assets/javascript.js"></script>
    </body>
</html>